{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 50,
  "tabWidth": 2,
  "arrowParens": "always",
  "endOfLine": "lf",
  "singleAttributePerLine": true,
  "vueIndentScriptAndStyle": false,
  "bracketSameLine": true,
  "bracketSpacing": true
}
